body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

div.wrapper {
    width: 800px;
    border: 10px dashed #ACCACC;
    border-top: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    position: relative;
    height: 200px;
}

div.announcement {
    padding: 20px;
}

div.entry {
    position: absolute;
    top: 0;
    left: 20px;
    width: 320px;
    height: 200px;
}

div.entry form input {
}

div.display {
    position: absolute;
    top: 0;
    right: 20px;
    width: 440px;
    height: 200px;
}

div.display textarea {
    border: none;
    background: #FFF;
    width: 440px;
    height: 130px;
}

div.explain {
    padding: 20px;
}